<header>
    <a id= "Logo" href="/"><img alt="Perform" src="/assets/favicon.ico"></a>
    <nav>
        <a id="UpperBod" href ="/UpperBod/">UpperBod</a>
        <a id="LowerBod"href="/LowerBod/">LowerBod</a>
        <a id="NotJustForm" href="/NotJustForm/">Not Just Form</a>
    </nav>
    <div id="rect"></div>
</header>