<head>
        <meta charset="utf-8"> <!-- I can write notes -->
        <title>Perform</title>
        <meta name="description" content=" Preform your exercises with easy steps to keep in mind as you execute your workout to work on your form. ">
        <meta name="author" content="Madison Tripi">
        <link rel="icon" type="image/png" href="/assets/favicon.ico">
        <link rel="stylesheet" href="/assets/menu.css">
        <link rel="stylesheet" href="/assets/styles.css">
        <script src="/assets/menu.js" defer></script>
    </head>