<header>
    <a id= "Logo" href="/"><img alt="logo"src="Favicon.png"></a>
    <nav>
        <a id="UpperBod" href="/UpperBod/">UpperBod</a>
        <a id="LowerBod"href="/LowerBod/">LowerBod</a>
        <a id="NotJustForm" href="/Not Just Form/">Not Just Form</a>
    </nav>
</header>