<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'My Homepage' %}
    <body class="home">
        {% include 'header' %}
        <main>
            <section id="title">
                <div id="titlerectangle"><h1>PREFORM</h1></div>
            <div id="halfcircle"></div>   
            </section>
            <section id="beginswithyou">
                <div id="bwyrect"></div>
                <div id="bwycaption">
                    <h3 id="It">It all begins with <span id="YOU">YOU.</span></h3>
                    <p id="para1"> Today is the day that you become a new you! 
                        You are the only person that can change built in habits in order to achieve the goals that you seek. 
                        We are here to help you preform every exercise you have been doing in a more focused and targeted means. 
                        In order to achieve your goals when walking into the gym you must put your all into training.
                        Heavy lifting can be a tricky task that needs particular form and mind to muscle behavior. 
                        This is where we come into play.  </p>
                       
                </div>
                <div id="bwyimage"></div>
                <!-- <img id= "img1" src="https://static01.nyt.com/images/2017/03/13/well/move/NYT_StrengthTraining_Mountain-Climbers_Christine_Final/NYT_StrengthTraining_Mountain-Climbers_Christine_Final-videoLarge-v2.jpg" alt="Move - The New York Times" /> -->
               
     
            </section>
                      <h3 id="Where"> Where we started ...</h3>
                    <p id="para2"> After years of heavy lifting and perfecting my form everytime I step into the gym I still have more to learn. 
                        Preform is a brand that encourages people to find motivation within themselves. By giving you the simple tips to keep
                        in mind while performing exercises you will begin to see results quicker and quicker. This will jumpstart your motivation
                        into working harder and seeing what you are truly made of.  </p>
                        <img/>
                    <img alt="" scr=""/>
        </main>
        {% include 'footer' %}
    </body>
</html>
