<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Page 2' %}
<body class="page">
    {% include 'header' %}
    <main>
        <section id="pagetitle">
            <div>
            <h1>Lower Bod</h1>
           </div>
        </section>
        <div class = "whiterectangle"></div> 
        <div id = "fullbodyimg"></div> 
        <img id= "img2" src="/assets/muscles front.pdf" alt="Muscles diagram front"/>  
        

        <p id="Quads">
            Quad extensions
            Gobble Squat
            Squat
            Bulgarian Split squat
            </p>
        <p id="Glutes">
            Step ups
            Glute extensions
            Hip thrusts
            Single leg Hip thrust
            Cable kickbacks
            </p>
        <p id="Hamstrings">
            Rdls
            Single Rdls
            Hamstring Curl machine
            </p>
    </main>
    {% include 'footer' %}
</body>
</html>
