<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Page 2' %}
<body class="lower">
    {% include 'header' %}
    <main>
        <section id="pagetitle">
            <div>
            <h1>Lower Bod</h1>
           </div>
        </section> 
        <div id = "fullbodyimg"></div> 
        <div>
        <img id= "img3" src="/assets/muscles front 3.png" alt="Muscles diagram front"/>
        <img id= "img4" src="/assets/mscle back.png" alt="Muscles diagram front"/>    
        </div>
<section id="excersizes"></section>
    <div>
        <h2 id="musclegroup">Quads</h2>
    </div>
    <div id = "quadexcersize">
        <p>Quad Extensions</p>
        <p>Gobble Squat</p>
        <p>Squat</p> 
        <p>Bulgarian Split squat</p>
    </div>
           
           
           
    </main>
    {% include 'footer' %}
</body>
</html>
