<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Page 2' %}
<body class="page">
    {% include 'header' %}
    <main>
        <section id="pagetitle">
            <div id="leftrect"></div>
            <div><h1 class="title2">LOWER BOD</h1></div>
        </section>
        

        <p id="Quads">
            Quad extensions
            Gobble Squat
            Squat
            Bulgarian Split squat
            </p>
        <p id="Glutes">
            Step ups
            Glute extensions
            Hip thrusts
            Single leg Hip thrust
            Cable kickbacks
            </p>
        <p id="Hamstrings">
            Rdls
            Single Rdls
            Hamstring Curl machine
            </p>
    </main>
    {% include 'footer' %}
</body>
</html>
