<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Page 2' %}
<body class="page">
    {% include 'header' %}
    <main>
        <h1>
            Not Just Form
        </h1>
        <p>
            Every time you step into the gym is a new opportunity to learn for your mind and body. Yes, we do put quite a focus on your form as you begin or improve your fitness journey but, we do want to emphasize the importance of consistency. As you bring yourself to the gym when your tired after a long day of work or sad because you just finished watching your favorite Netflix series you prove to yourself you can do what you never thought was possible. This builds strength and trust between you and yourself. 
        </p>
    </main>
    {% include 'footer' %}
</body>
</html>
