<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Page 3' %}
<body class="page">
    {% include 'header' %}
    <main>
        <section id="pagetitle">
            <div id="leftrect"></div>
            <div><h1 class="title3">NOT JUST FORM</h1></div>
        </section>
        <div class = "whiterectangle"></div> 


        <p id="Toimprove">
            To improve our skills in the gym we must do more than pick up a heavy weight and push out as many reps as we can as fast as we can.  
            Slow and controlled training can lead to an easier mind to muscle connection.You should be aware which muscle you are working as you pick an exercise; 
            This way you can think about that part of your body or even take your hand and place it on that muscle to target that area of your body while executing the movements.  
            This can prevent injuries as well as give you better results.  
        </p>
        <p id="Determine">
            Determined to Rise
        </p>
        <div id="marathonrunner"></div>
        <img id= "img2" src="https://pngtree.com/freepng/marathon-running-color-material_1853305.html" alt="pngtree.com marathon runner" />
        <p id="Everytime">Every time you step into the gym is a new opportunity to learn for your mind and body. 
            Yes, we do put quite a focus on your form as you begin or even continue your fitness journey but, we do want to emphasize the importance of consistency.
            Bringing yourself to exercise no matter how many excuses you have brewing in your mind not to, builds strength and trust between you and yourself. 
            This is a perfect way to grow as a disciplined human being that can push themselves to do anything they wish just because they said they could.  
        </p>

    </main>
    {% include 'footer' %}
</body>
</html>
