<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Page 1' %}
<body class="upper">
    {% include 'header' %}
    <main>
        <section id="pagetitle">
            <div>
            <h1>Upper Bod</h1>
           </div>
        </section>
        <div class = "whiterectangle"></div> 
        <div>
        <img id= "img2" src="/assets/muscles front2.png" alt="Muscles diagram front big chest"/> 
        <img id= "img5" src="/assets/mscle back.png" alt="Muscles diagram front small chest"/>
        </div>
        <section id="excersizes"></section>
            <div>
                <h2 id="musclegroup">Chest (Push)</h2> 
            </div>
            <div id="chestexcersize"
                <p>Chest Fly</p>
                <p>Chest Press</p>
                <p>Variation of push ups</p>
                </div>

    </main>
    {% include 'footer' %}
</body>
</html>
