<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Page 1' %}
<body class="page">
    {% include 'header' %}
    <main>
        <section id="pagetitle">
            <div id="leftrect"></div>
            <div><h1 class="title1">UPPER BOD</h1></div>
        </section>





































        
            <h2>
                Push
                </h2>
                    <p id="Chest">
                     Chest Fly
                     Chest Press
                    Variation of push ups
                    </p>
                    <p id="Triceps">
                    Tricep kick back
                    Tricep dips
                    Tricep extensions
                    </p>
                    <p id="Shoulders">
                    Shoulder Press
                    Arnold Press
                    Lateral Raises
                    Military Press
                    </p>
            <h2>
                Pull
                </h2>
                <p id="Biceps">
                    Hammer curl
                    Waiter curl
                    Wide grip curl
                    Close grip curl
                    Palm faced down curl
                    </p>
                <p id="Back">
                    Lat pull downs
                    Pull ups
                    Rows
                    Bent over rows
                    Rear delt flys
                    </p>

    </main>
    {% include 'footer' %}
</body>
</html>
